@{
    ViewBag.Title = "Feedbacks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using EpamBlog.Models
@model IEnumerable<Feedback>

    <div class="feedback-container">
        @foreach (Feedback currentFeedback in Model )
        {
            <div class="feedback Article">
                <h4>Author: @currentFeedback.Author</h4>
                <div class="feedback-text">
                    @currentFeedback.Text
                </div>
                <p>Date: @currentFeedback.Published</p>
            </div>
        }
        @Html.ActionLink("Add Feedback", "AddFeedback")
    </div>
