body {
    margin: 0;
    font-family: cursive;
}


.page-header {
    padding: 0 77px;
    font-size: 16px;
    border-bottom: 2px solid black;
    background: url('img/header_background.png');
}


.page-header h3 {
        margin-top: 0;
        padding-top: 17px;
        font-size: 30px;
}


.container {
    background-color: #BE3330;
    position: absolute;
    min-height: 102%;
    width: 100%;
}


.main-body {
    width: 78%;
    margin-top: 10px;
}


.Article {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 0 5px 60px;
    margin-left: 15px;
    margin-bottom: 15px;
    background: url('img/article_background1.jpg');
    min-width: 500px;
}

.single-article{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 0 5px 60px;
    margin: 20px;
    background: url('img/article_background1.jpg');
    min-width: 500px;
    width: 70%;

}

.article-text {
    font-family: 'bebas_neueregular';
    font-size: 20px;
}

.Article h2 {
    width: 70%;
    border-bottom: 2px dotted black;
}

.Article a{
    color: blue;
}


.menu-body {
    width: 20%;
    background-color: black;
    position: absolute;
    right: 0%;
    min-height: 90%;
    font-family: 'bebas_neueregular';
}


.menu-body a {
        text-decoration: none;
        font-size: 20px;
        color: #CCCCCC;
        position: absolute;
        width: 60%;
        border-radius: 7px;
    }


.menu-body a:hover {
            background-color: #BE3330;
        }

.menu-body-quiz
{
    margin-top: 50px;
    background: url('img/article_background1.jpg');
    font-family: 'bebas_neueregular';
    border-radius: 7px;
    text-align: center;
}

.menu-body-quiz div
{
    padding: 7px;
    margin: 24px auto;
    width: 100%;
}

.menu-body-quiz button
{
    padding: 10px;
    border: 2px solid black;
    width: 80px;
    display: block;
    margin: 10px auto;
    border-radius: 6px;
}


.links li {
    margin-bottom: -1px;
    padding: 9px;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    width: 75%;
}


footer {
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer a {
        font-size: 18px;
    }



/*FEEDBACK PAGE STYLES*/
.feedback {
    width: 55%;
    font-size: 20px;
}

.feedback h4 {
        border-bottom: 2px dotted black;
        width: 55%;
        font-size: 21px;
        margin-bottom: 8px;
    }

.feedback-text {
    font-family: 'bebas_neueregular';
}

.feedback-form {
    margin: 16px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 11px;
    width: 72%;
}

.feedback-form input {
        margin-left: 14px;
        padding: 8px;
        border: 2px solid black;
        border-radius: 8px;
        font-family: cursive;
    }

.feedback-form textarea {
        display: block;
        margin: 8px 14px;
        padding: 8px;
        border: 2px solid black;
        border-radius: 8px;
    }

.feedback-form button {
        margin: 5px 14px;
        padding: 5px;
        width: 102px;
        border: 2px solid black;
        border-radius: 8px;
        font-size: 17px;
        font-family: cursive;
    }

.feedback-form button:hover {
            background-color: darkcyan;
        }

.feedback-container {
    padding-top: 50px;
}


.feedback-container a {
    margin: 0px 18px;
    padding: 6px;
    font-size: 22px;
    font-family: 'bebas_neueregular';
    text-decoration: none;
    color: black;
    background-color: #BCCCCC;
    border: 2px solid black;
    border-radius: 4px;
}

.feedback-container a:hover{
    background-color: darkcyan;
}


.back-to-list-link
{
    margin: 28px 18px;
    }

 
.back-to-list-link a
{
    
    padding: 6px;
    font-size: 22px;
    font-family: 'bebas_neueregular';
    text-decoration: none;
    color: black;
    background-color: #BCCCCC;
    border: 2px solid black;
    border-radius: 4px;
}

.back-to-list-link a:hover{
    background-color: darkcyan; 
}

/*QUESTIONNAIRE STYLES*/

.questionText {
    margin-left: 25px;
    font-size: 20px;
}

.question {
    margin-left: 25px;
    width: 24%;
    padding: 11px 45px;
}

.formButton {
    margin: 25px 73px;
    padding: 10px;
    width: 107px;
    font-size: 16px;
    font: bold;
    border: 2px solid black;
    border-radius: 10px;
}

.question textarea {
    border: 2px solid black;
    border-radius: 7px;
}



/*STATISTIC STYLES*/

.statistic {
    margin: 7px auto !important;
    margin-top: 1px !important;
    padding-top: 1px !important;
}

.statistic span {
        font-family: 'bebas_neueregular';
        font-size: 18px;
    }

.key {
    color: #FFA837;
}

.quiz-links {
    margin-left: 50px;
    padding: 30px;
    font-size: 20px;
}

.quiz-links a {
        padding-right: 15px;
        color: blue !important;
    }


    /*ADD ARTICLE PAGE STYLES*/
.create-article-form
{
    margin: 30px;
}

.create-article-form textarea{
    border: 2px solid black;
    border-radius: 7px;
    display: block;
    margin-bottom: 15px;
}

.create-article-form button{
    padding: 13px;
    width: 100px;
    border: 2px solid black;
    border-radius: 4px;
        font-family: 'bebas_neueregular';

}

.popular-tags{
    margin: 15px;
    width: 75%
}


/*RIGHT_SIDE_BAR SIMILAR ARTICLES STYLES*/

.similar-articles{
    margin-top: 50px;
    background: url('img/article_background1.jpg');
    font-family: 'bebas_neueregular';
    /*border: 2px solid #95928E;*/
    border-radius: 7px;
    height: 95%;
}


.similar-articles li{
    margin-bottom: 40px;
}


.similar-articles a{
    color: black;
    width: 80%;
}

.similar-articles a:hover{
    color: blue;
    background-color: transparent;
}

.similar-articles h5{
    text-align: center;
    font-size: 20px;
    padding-top: 13px;
}


/*VALIDATION STYLES*/
.validation-summary-valid{
    margin: 0 !important;
    padding: 1px !important;
}

.validation-summary-errors{
    margin: 0px !important;
    padding: 1px !important;
    height: 30px;
    color: red;
}

.quiz-validation-errors li{
    margin-left: 3%;
    color: black;   
}

#quiz-result{
    margin: 0px !important;
    padding: 1px !important;
}